 @import url('blokes/1-portada.css');
 @import url('blokes/2-menu.css');
 @import url('blokes/3-perfil.css');
 @import url('blokes/4-proyectos.css');
 @import url('blokes/5-abilidades.css');
 @import url('blokes/6-sobreMi.css');
 @import url('blokes/7-footer.css');
 
 
 
 
  *{
    
    box-sizing:border-box;
    
    margin:0;
    padding:0;
  }
 
 
 
 
 
  body{
    
    
    min-height:100vh;
    
    text-align:center;
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    background:#333;
  }
  
  
  
  
  
  
  iframe{
    
    width:93vw;
    height:350px;
    
    box-shadow: 0px 0px 10px #aaa;
    border-radius:20px;
    
    margin-top:10px;
    margin-bottom:10px;
    
    background:#999;
  }